{% extends 'ADMCoreBundle::IndexLayout.html.twig' %}

{% block title %}
    Mon Profil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block extraheadcontent %}
    {{ parent() }}
{% endblock %}

{% block bodyclass %}
    {{ parent() }}
{% endblock %}


{% block closeNavbar %}
    {{ parent() }}
{% endblock %}


{% block menus %}
    {{ parent() }}
{% endblock %}

{% block pagewrapperclass %}
    {{ parent() }}
{% endblock %}

{% block dashboardheader %}

{% endblock %}

{% block pageheadingstyle %}
    style="display:none;"
{% endblock %}

{% block breadcrumb %}
{% endblock %}


{% block wrappercontentclass %}
    {{ parent() }} style="padding-left: 0px; padding-right: 0px; padding-top: 0px;"
{% endblock %}

{% block pagecontent %}
    <div class="col-lg-12"
         style="height:250px;background-image: url('http://colourlovers.com.s3.amazonaws.com/images/patterns/3152/3152039.png')">
        <div class="row"></div>
        <div class="row"
             style="background-color: rgba(0, 0, 0, 0.3);padding:20px; width:100%; position:absolute;bottom:0px;left:0px;margin:0px;">
            <h1 style="font-weight: bold;color:white;padding: 0px;margin:0px;">{{ app.user.username | capitalize }}</h1>
        </div>
    </div>

    <div class="col-lg-12" style="margin-top: 20px;">

        <div class="ibox-title">
            <h5>Profil</h5>
        </div>
        <div class="ibox-content">
            <div>
                Coming soon
            </div>
        </div>
    </div>

{% endblock %}

{% block plugins %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block extrascripts %}
    {{ parent() }}
{% endblock %}

