{# Accueil | Page d'accueil du site #}
{% extends 'ADMCoreBundle::IndexLayout.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block extraheadcontent %}
    {{ parent() }}
    <style>
    .static-map {
    width: 100%;
    }

    </style>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet'/>
{% endblock %}

{% block bodyclass %}
    {{ parent() }}
{% endblock %}
{# Options du bodyclass : "skin-1"  "skin-2" "skin-3" "mini-navbar" "fixed-sidebar" : dans ce cas ne pas oublier d'ajouter le script slimScroll qui se trouve dans js/inspinia.js file et décommenter le Fixed Sidebar comment and uncomment function et ajouter <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
"fixed-nav" : dans ce cas mettre navbar-fixed-top si body class = fixed-nav dans <nav>   En mettant mini-navbar ET fixed-sidebar ET fixed-nav, on ne voit plus du tout la barre de navigation de gauche et la barre du haut devient fixe (pour Rapports de stage peut-être), "canvas-menu"pour le OffCanvasLayout #}

{% block closeNavbar %}
{% endblock %}
{# Ajouter <a class="close-canvas-menu"><i class="fa fa-times"></i></a> si bodyclass=canvas-menu #}

{% block menus %}
    {{ parent() }}
{% endblock %}

{% block pagewrapperclass %}
    {{ parent() }}
{% endblock %}
{# Options du pagewrapperclass : "gray-bg" "gray-bg dashboard-1" mais ça a pas l'air de servir grand chose "gray-bg sidebar-content" ajoute une jolie barre sur la droite  (peut-être pour mettre le sommaire des rapports). Par contre pas toujours terrible pour les téléphones car elle est prioritaireIl faut créer un <div class="sidebard-panel">. Voir exemple #}

{% block navbarclass %}
    {{ parent() }}
{% endblock %}
{# navbar-fixed-top si body class = fixed-nav #}

{% block topnav %}
{% endblock %}

{# On met soit le block dashboardheader ou pageheading mais pas les deux, on peut aussi les enlever tous les deux. Je mets du contenu pour l'exemple #}
{% block dashboardheader %}
    <div id="dashboard-header" class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <h2>Bienvenue</h2>

            <p>L'Atlas Numérique des Agricultures du Monde vous permet d'explorer la
                diversité des systèmes agricoles du Monde.
                <a href="#">En savoir plus</a>
            </p>
        </div> {# end first column in row dashboard-header #}
    </div> {# end dashboard-header #}
{% endblock %}

{% block pageheading %}
{% endblock %}

{% block wrappercontentclass %}
    {{ parent() }}
{% endblock %}
{# Options du pagewrapperclass : "wrapper wrapper-content" "wrapper wrapper-content animated fadeInRight" voire "wrapper wrapper-content animated fadeInRight article"pour faire apparaître le contenu de façon un peu dynamique (voir animate.css pour toutes les options) #}

{% block pagecontent %}
    <div class="row">
        {#<div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="file-manager">
                        <a href="#" class="file-control active">All</a>
                        <a href="#" class="file-control">Documents</a>
                        <a href="#" class="file-control">Vidéos</a>
                        <a href="#" class="file-control">Images</a>

                        <div class="hr-line-dashed"></div>
                        <button class="btn btn-primary btn-block">Ajouter une étude</button>
                        <div class="hr-line-dashed"></div>
                        <h5>Mots-clés</h5>
                        <ul class="folder-list" style="padding: 0">
                            <li><a href=""><i class="fa fa-tag"></i> Diagnostic agraire</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Crise du café</a></li>
                            <li><a href=""><i class="fa fa-tag"></i> Accaparement de terre</a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        #}
        <div class="col-lg-12 animated fadeInRight">
            <div class="row" style="margin-left:45px;margin-top:-30px;">
                <div class="col-lg-12">
                    <div class="row">
                        <span style="font-weight: bold;">EXPLORER</span>
                        <hr style="margin-top: 5px; margin-bottom: 15px;">
                        <div class="file-box">
                            <div class="file">
                                <a href="{{ path('adm_list_reports') }}">
                                    <span class="corner"></span>

                                    <img id='static-map-2' class="static-map img-responsive">
                                    <div class="file-name">
                                        Trouver une étude
                                        <br/>
                                        <small>Voir la liste</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <div class="file-box">
                        <div class="file">
                            <a href="{{ path('adm_leaflet_worldmap') }}">
                                <span class="corner"></span>


                                <img id='static-map' class="static-map img-responsive">

                                <div class="file-name">
                                    Carte du Monde
                                    <br/>
                                    <small>Voir la carte</small>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                    <span style="font-weight: bold;margin-left:-15px">ETUDES RECENTES</span>
                    <hr style="margin-top: 5px;margin-left:-15px; margin-bottom: 15px;">
                    <div class="row">
                    {% for report in listReports %}
                    <div class="file-box">
                        <div class="file">
                            <a href="{{ path('adm_report_read', { 'slug': report.slug }) }}">
                                <span class="corner"></span>

                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    {% if report.name | length > 25 %}
                                    {{ report.name |slice(0, 25) }}...
                                    {% else %}
                                    {{ report.name }}
                                    {% endif %}
                                    <br/>
                                    <small>{{ report.dateCreated |date('Y') }}</small>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerclass %}
    {{ parent() }}
{% endblock %}
{# Options du footerclass : "footer" "footer fixed" #}

{% block plugins %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block extrascripts %}
   <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiaHVnb2xlaG91eCIsImEiOiItOHl6Sm5jIn0.12l_k0K_Z28UE-Jc0kDgpw';
    var size = [400, 267];

    document.getElementById('static-map').src =
    'https://api.tiles.mapbox.com/v4/hugolehoux.m2a2l7dj/' +
    0 + ',' + 20 + ',' +
    1 + '/' +
    size.join('x') + '.png' +
    '?access_token=' + L.mapbox.accessToken;

    document.getElementById('static-map-2').src =
            'https://api.tiles.mapbox.com/v4/hugolehoux.mi8n7fe4/' +
            0 + ',' + 20 + ',' +
            1 + '/' +
            size.join('x') + '.png' +
            '?access_token=' + L.mapbox.accessToken;
   </script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.info('Le site est en cours de construction merci de votre tolérance', 'Bienvenue');
            }, 1300);
        });
    </script>

    <script>
        $(document).ready(function(){
            $('.file-box').each(function() {
                animationHover(this, 'pulse');
            });
        });
    </script>
{% endblock %}


















