{# OffCanvas Layout | http://webapplayers.com/inspinia_admin-v2.1/off_canvas_menu.html #}
{% extends "ADMCoreBundle::OffCanvasLayout.html.twig" %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/compiled/addReport.css" filter="cssrewrite"
    'bundles/admcore/css/bootstrap.min.css'
    'bundles/admcore/font-awesome/css/font-awesome.css'
    'bundles/admcore/css/style.css'
    'bundles/admcore/css/animate.css'
    'bundles/admcore/css/plugins/datapicker/datepicker3.css'
    'bundles/admcore/css/plugins/chosen/chosen.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {{ form_stylesheet(form) }}
    {% endstylesheets %}
{% endblock %}

{% block extraheadcontent %}
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea',
        plugins: "paste autoresize",
        paste_as_text: true,
        toolbar: "insertfile undo redo | styleselect | italic bold | alignleft aligncenter alignright alignjustify | bullist numlist"
    });</script>
{% endblock %}

{% block bodyclass %}
    "skin-3 mini-navbar"
{% endblock %}
{# Options du bodyclass : "skin-1"  "skin-2" "skin-3" "mini-navbar" "fixed-sidebar" : dans ce cas ne pas oublier d'ajouter le script slimScroll qui se trouve dans js/inspinia.js file et décommenter le Fixed Sidebar comment and uncomment function et ajouter <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>"fixed-nav" : dans ce cas mettre navbar-fixed-top si body class = fixed-nav dans <nav>   En mettant mini-navbar ET fixed-sidebar ET fixed-nav, on ne voit plus du tout la barre de navigation de gauche et la barre du haut devient fixe (pour Rapports de stage peut-être), "canvas-menu"pour le OffCanvasLayout #}

{% block closeNavbar %}
{% endblock %}
{# Ajouter <a class="close-canvas-menu"><i class="fa fa-times"></i></a> si bodyclass=canvas-menu #}

{% block menus %}
 {{ parent() }}
{% endblock %}

{% block pagewrapperclass %}
 {{ parent() }}
{% endblock %}
{# Options du pagewrapperclass : "gray-bg" "gray-bg dashboard-1" mais ça a pas l'air de servir grand chose "gray-bg sidebar-content" ajoute une jolie barre sur la droite  (peut-être pour mettre le sommaire des rapports). Par contre pas toujours terrible pour les téléphones car elle est prioritaireIl faut créer un <div class="sidebard-panel">. Voir exemple #}

{% block navbarclass %}
 {{ parent() }}
{% endblock %}
{# "navbar navbar-static-top" ou "navbar-fixed-top" si body class = fixed-nav #}

{% block topnav %}
 {{ parent() }}
{% endblock %}

{# On met soit le block dashboardheader ou pageheading mais pas les deux, on peut aussi les enlever tous les deux. Je mets du contenu pour l'exemple #}
{% block dashboardheader %}
{% endblock %}


{% block breadcrumb %}
    <h2>Ajouter une étude</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('adm_core_home') }}">Accueil</a>
        </li>
        <li>
            <a href="#">Rapports</a>
        </li>
        <li class="active">
            <strong>Diagnostic Agraire</strong>
        </li>
    </ol>
{% endblock %}

{% block wrappercontentclass %}
    "wrapper wrapper-content animated fadeInRight article"
{% endblock %}
{# Options du pagewrapperclass : "wrapper wrapper-content" "wrapper wrapper-content animated fadeInRight" voire "wrapper wrapper-content animated fadeInRight article" pour faire apparaître le contenu de façon un peu dynamique (voir animate.css pour toutes les options) #}

{% block pagecontent %}

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group" >
                        <label>Titre</label>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {# <div class="form-group" >
                        <label>Auteurs</label>
                        {{ form_widget(form.authors, {'attr': {'class': 'form-control'}}) }}

                    </div>
                    #}
                    <div class="form-group" >
                        <label>Année de l'étude</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{ form_widget(form.dateCreated, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <h2>

                    </h2>
                    {{ form_row(form.latitude) }}
                    {{ form_row(form.longitude) }}
                    {{ form_row(form.published) }}

                {{ form_widget(form.articleBody, {'attr': {'class': 'form-control'}}) }}
                <hr>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <h5>Tags:</h5>
                        <button class="btn btn-primary btn-xs" type="button">Model</button>
                        <button class="btn btn-white btn-xs" type="button">Publishing</button>
                    </div>
                    <div class="col-md-6">
                        <div class="small text-right">
                            <h5>Stats:</h5>
                            <div> <i class="fa fa-comments-o"> </i> 56 comments
                            </div>
                            <i class="fa fa-eye"> </i> 144 views
                        </div>
                    </div> {# end-small text-right #}
                </div> {# end-col-md-6 #}
            </div> {# end-ibox-content #}
        </div> {# end-ibox #}
    </div> {# end-col-lg-10 col-lg-offset-1 #}
</div> {# end-row #}


{% endblock %}

{% block footerclass %}
    {{ parent() }}
{% endblock %}
{# Options du footerclass : "footer" "footer fixed" #}

{% block plugins %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
   {% javascripts
   '@ADMCoreBundle/Resources/public/js/jquery-2.1.1.js'
   '@ADMCoreBundle/Resources/public/js/bootstrap.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
   '@ADMCoreBundle/Resources/public/js/plugins/pace/pace.min.js'
   '@ADMCoreBundle/Resources/public/js/inspinia.js'
   '@ADMCoreBundle/Resources/public/js/plugins/toastr/toastr.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.tooltip.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.spline.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.resize.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.pie.js'
   '@ADMCoreBundle/Resources/public/js/plugins/peity/jquery.peity.min.js'
   '@ADMCoreBundle/Resources/public/js/demo/peity-demo.js'
   '@ADMCoreBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/sparkline/jquery.sparkline.min.js'
   '@ADMCoreBundle/Resources/public/js/demo/sparkline-demo.js'
   '@ADMCoreBundle/Resources/public/js/plugins/chartJs/Chart.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/datapicker/bootstrap-datepicker.js'
   '@ADMCoreBundle/Resources/public/js/plugins/chosen/chosen.jquery.js'
   output='js/compiled/addReport.js'
   %}
   <script type="text/javascript" src="{{ asset_url }}"></script>
   {{ form_javascript(form) }}
   {% endjavascripts %}

{% endblock %}

{% block extrascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#form_authors").chosen()
    </script>
{% endblock %}