{# OffCanvas Layout | http://webapplayers.com/inspinia_admin-v2.1/off_canvas_menu.html #}
{% extends "ADMCoreBundle::OffCanvasLayout.html.twig" %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/compiled/addReport.css" filter="cssrewrite"
    'bundles/admcore/css/bootstrap.min.css'
    'bundles/admcore/font-awesome/css/font-awesome.css'
    'bundles/admcore/css/style.css'
    'bundles/admcore/css/animate.css'
    'bundles/admcore/css/plugins/chosen/chosen.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block extraheadcontent %}
    {# Fichiers pour utiliser tinyMCE Wysiwyg editor #}
   <script src="{{ asset('bundles/admcore/js/plugins/tinyMCE/tinymce.min.js') }}" type="text/javascript"></script>
    <script>tinymce.init({selector:'textarea',
            skin: "light",
            plugins: "paste,autoresize",
            menubar: false,
            toolbar: " undo redo | formatselect | italic bold | alignleft aligncenter alignjustify | bullist numlist"
            });</script>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
    <style>
        #map { height:70vh; width:100%; margin-bottom: 15px; }
    </style>


{% endblock %}

{% block bodyclass %}
    "skin-3 mini-navbar"
{% endblock %}
{# Options du bodyclass : "skin-1"  "skin-2" "skin-3" "mini-navbar" "fixed-sidebar" : dans ce cas ne pas oublier d'ajouter le script slimScroll qui se trouve dans js/inspinia.js file et décommenter le Fixed Sidebar comment and uncomment function et ajouter <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>"fixed-nav" : dans ce cas mettre navbar-fixed-top si body class = fixed-nav dans <nav>   En mettant mini-navbar ET fixed-sidebar ET fixed-nav, on ne voit plus du tout la barre de navigation de gauche et la barre du haut devient fixe (pour Rapports de stage peut-être), "canvas-menu"pour le OffCanvasLayout #}

{% block closeNavbar %}
{% endblock %}
{# Ajouter <a class="close-canvas-menu"><i class="fa fa-times"></i></a> si bodyclass=canvas-menu #}

{% block menus %}
 {{ parent() }}
{% endblock %}

{% block pagewrapperclass %}
 {{ parent() }}
{% endblock %}
{# Options du pagewrapperclass : "gray-bg" "gray-bg dashboard-1" mais ça a pas l'air de servir grand chose "gray-bg sidebar-content" ajoute une jolie barre sur la droite  (peut-être pour mettre le sommaire des rapports). Par contre pas toujours terrible pour les téléphones car elle est prioritaireIl faut créer un <div class="sidebard-panel">. Voir exemple #}

{% block navbarclass %}
 {{ parent() }}
{% endblock %}
{# "navbar navbar-static-top" ou "navbar-fixed-top" si body class = fixed-nav #}

{% block topnav %}
 {{ parent() }}
{% endblock %}

{# On met soit le block dashboardheader ou pageheading mais pas les deux, on peut aussi les enlever tous les deux. Je mets du contenu pour l'exemple #}
{% block dashboardheader %}
{% endblock %}


{% block breadcrumb %}
    <h2>Ajouter une étude</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('adm_core_home') }}">Accueil</a>
        </li>
        <li>
            <a href="#">Rapports</a>
        </li>
        <li class="active">
            <strong>Ajouter</strong>
        </li>
    </ol>
{% endblock %}

{% block wrappercontentclass %}
    "wrapper wrapper-content animated fadeInRight article"
{% endblock %}
{# Options du pagewrapperclass : "wrapper wrapper-content" "wrapper wrapper-content animated fadeInRight" voire "wrapper wrapper-content animated fadeInRight article" pour faire apparaître le contenu de façon un peu dynamique (voir animate.css pour toutes les options) #}

{% block pagecontent %}

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="ibox">
                <div class="ibox-content">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="form-group" >
                        <label>Titre</label>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    {# <div class="form-group" >
                        <label>Auteurs</label>
                        {{ form_widget(form.authors, {'attr': {'class': 'form-control'}}) }}

                    </div>
                    #}
                    <div class="form-group" >
                        <label>Année de l'étude</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{ form_widget(form.dateCreated, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group" >
                        <label>Auteurs</label>
                        {{ form_widget(form.authors, {'attr': {'class': 'form-control','data-placeholder': 'Michel, Geneviève...'}}) }}
                    </div>
                    <label>Zone d'étude</label>
                    <div id='map'></div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label>Latitude</label>
                                {{ form_widget(form.latitude, {'attr': {'class': 'form-control','disabled':''}}) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label>Longitude</label>
                                {{ form_widget(form.longitude, {'attr': {'class': 'form-control','disabled':''}}) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label>Pays</label>
                                {{ form_widget(form.country, {'attr': {'class': 'form-control','disabled':''}}) }}
                            </div>
                        </div>
                    </div>


                    <div class="form-group" >
                        <label>Contenu du rapport</label>
                        {{ form_widget(form.articleBody, {'attr': {'class': 'form-control'}}) }}
                    </div>
                        {{ form_row(form.published) }}
                <hr>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                {{ form_rest(form) }}

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
            </div> {# end-ibox-content #}
        </div> {# end-ibox #}
    </div> {# end-col-lg-10 col-lg-offset-1 #}
</div> {# end-row #}


{% endblock %}

{% block footerclass %}
    {{ parent() }}
{% endblock %}
{# Options du footerclass : "footer" "footer fixed" #}

{% block plugins %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
   {% javascripts
   '@ADMCoreBundle/Resources/public/js/jquery-2.1.1.js'
   '@ADMCoreBundle/Resources/public/js/bootstrap.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
   '@ADMCoreBundle/Resources/public/js/plugins/pace/pace.min.js'
   '@ADMCoreBundle/Resources/public/js/inspinia.js'
   '@ADMCoreBundle/Resources/public/js/plugins/toastr/toastr.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.tooltip.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.spline.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.resize.js'
   '@ADMCoreBundle/Resources/public/js/plugins/flot/jquery.flot.pie.js'
   '@ADMCoreBundle/Resources/public/js/plugins/peity/jquery.peity.min.js'
   '@ADMCoreBundle/Resources/public/js/demo/peity-demo.js'
   '@ADMCoreBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/sparkline/jquery.sparkline.min.js'
   '@ADMCoreBundle/Resources/public/js/demo/sparkline-demo.js'
   '@ADMCoreBundle/Resources/public/js/plugins/chartJs/Chart.min.js'
   '@ADMCoreBundle/Resources/public/js/plugins/chosen/chosen.jquery.js'

   output='js/compiled/addReport.js'
   %}
   <script type="text/javascript" src="{{ asset_url }}"></script>
   {% endjavascripts %}
    {{ form_javascript(form) }}
{% endblock %}

{% block extrascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $("#adm_reportsbundle_report_authors").chosen()
    </script>



    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiaHVnb2xlaG91eCIsImEiOiItOHl6Sm5jIn0.12l_k0K_Z28UE-Jc0kDgpw';
        var map = L.mapbox.map('map', 'examples.map-igb471ik')
                .setView([0, 0], 2);

        var latitude = document.getElementById('adm_reportsbundle_report_latitude');
        var longitude = document.getElementById('adm_reportsbundle_report_longitude');

        var marker = L.marker([0, 0], {
            icon: L.mapbox.marker.icon({
                'marker-color': '#f86767'
            }),
            draggable: true
        }).addTo(map);

        // every time the marker is dragged, update the coordinates container
        marker.on('dragend', ondragend);

        // Set the initial marker coordinate on load.
        ondragend();

        function ondragend() {
            var m = marker.getLatLng();
            latitude.value = m.lat;
            longitude.value = m.lng;
        }
    </script>
{% endblock %}