{# OffCanvas Layout | http://webapplayers.com/inspinia_admin-v2.1/off_canvas_menu.html #}
{% extends "ADMCoreBundle::OffCanvasLayout.html.twig" %}

{% block title %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/compiled/listReportsByKeyword.css" filter="cssrewrite"
    'bundles/admcore/css/bootstrap.min.css'
    'bundles/admcore/font-awesome/css/font-awesome.css'
    'bundles/admcore/css/plugins/dataTables/dataTables.bootstrap.css'
    'bundles/admcore/css/plugins/dataTables/dataTables.responsive.css'
    'bundles/admcore/css/plugins/dataTables/dataTables.tableTools.min.css'
    'bundles/admcore/css/style.css'
    'bundles/admcore/css/animate.css'
    'bundles/admcore/css/plugins/toastr/toastr.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block extraheadcontent %}
{% endblock %}

{% block bodyclass %}
    "skin-3 mini-navbar"
{% endblock %}
{# Options du bodyclass : "skin-1"  "skin-2" "skin-3" "mini-navbar" "fixed-sidebar" : dans ce cas ne pas oublier d'ajouter le script slimScroll qui se trouve dans js/inspinia.js file et décommenter le Fixed Sidebar comment and uncomment function et ajouter <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>"fixed-nav" : dans ce cas mettre navbar-fixed-top si body class = fixed-nav dans <nav>   En mettant mini-navbar ET fixed-sidebar ET fixed-nav, on ne voit plus du tout la barre de navigation de gauche et la barre du haut devient fixe (pour Rapports de stage peut-être), "canvas-menu"pour le OffCanvasLayout #}

{% block closeNavbar %}
{% endblock %}
{# Ajouter <a class="close-canvas-menu"><i class="fa fa-times"></i></a> si bodyclass=canvas-menu #}

{% block menus %}
    {{ parent() }}
{% endblock %}

{% block pagewrapperclass %}
    {{ parent() }}
{% endblock %}
{# Options du pagewrapperclass : "gray-bg" "gray-bg dashboard-1" mais ça a pas l'air de servir grand chose "gray-bg sidebar-content" ajoute une jolie barre sur la droite  (peut-être pour mettre le sommaire des rapports). Par contre pas toujours terrible pour les téléphones car elle est prioritaireIl faut créer un <div class="sidebard-panel">. Voir exemple #}

{% block navbarclass %}
    {{ parent() }}
{% endblock %}
{# "navbar navbar-static-top" ou "navbar-fixed-top" si body class = fixed-nav #}

{% block topnav %}
    {{ parent() }}
{% endblock %}

{# On met soit le block dashboardheader ou pageheading mais pas les deux, on peut aussi les enlever tous les deux. Je mets du contenu pour l'exemple #}
{% block dashboardheader %}
{% endblock %}


{% block breadcrumb %}
    <h2>{{ keyword.name }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('adm_core_home') }}">Accueil</a>
        </li>
        <li>
            <a href="#">Rapports</a>
        </li>
        <li>
            <a href="#">Tag</a>
        </li>
        <li class="active">
            <strong>{{ keyword.name }}</strong>
        </li>
    </ol>
{% endblock %}

{% block wrappercontentclass %}
    "wrapper wrapper-content animated fadeInRight"
{% endblock %}
{# Options du pagewrapperclass : "wrapper wrapper-content" "wrapper wrapper-content animated fadeInRight" voire "wrapper wrapper-content animated fadeInRight article" pour faire apparaître le contenu de façon un peu dynamique (voir animate.css pour toutes les options) #}

{% block pagecontent %}
    {%  if keyword.description is not empty %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Description</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {{ keyword.description }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Rapports associés</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered table-hover dataTables-example">
                        <thead>

                        <tr>
                            <th>Titre</th>
                            <th>Auteurs</th>
                            <th>Année</th>
                            <th>Pays</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in listReports %}
                            <tr>
                                <td>
                                    <a href="{{ path('adm_report_read', { 'slug': report.slug }) }}">{{ report.name }}</a>
                                </td>
                                <td>{% for author in report.authors %}{{ author.label }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                                <td>{{ report.dateCreated | date('Y') }}</td>
                                <td>{{ report.country }}</td>
                            </tr>
                        {% endfor %}

                        <tfoot>
                        <tr>
                            <th>Titre</th>
                            <th>Auteurs</th>
                            <th>Année</th>
                            <th>Pays</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerclass %}
    {{ parent() }}
{% endblock %}
{# Options du footerclass : "footer" "footer fixed" #}

{% block plugins %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@ADMCoreBundle/Resources/public/js/jquery-2.1.1.js'
    '@ADMCoreBundle/Resources/public/js/bootstrap.min.js'
    '@ADMCoreBundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
    '@ADMCoreBundle/Resources/public/js/plugins/pace/pace.min.js'
    '@ADMCoreBundle/Resources/public/js/inspinia.js'
    '@ADMCoreBundle/Resources/public/js/plugins/slimscroll/jquery.slimscroll.min.js'
    '@ADMCoreBundle/Resources/public/js/plugins/jquery-ui/jquery-ui.min.js'
    '@ADMCoreBundle/Resources/public/js/plugins/dataTables/jquery.dataTables.js'
    '@ADMCoreBundle/Resources/public/js/plugins/dataTables/dataTables.bootstrap.js'
    '@ADMCoreBundle/Resources/public/js/plugins/dataTables/dataTables.responsive.js'
    '@ADMCoreBundle/Resources/public/js/plugins/dataTables/dataTables.tableTools.min.js'
    output='js/compiled/listReportsByKeyword.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block extrascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                responsive: true,
                "dom": 'T<"clear">lfrtip',
                "tableTools": {
                    "sSwfPath": "http://cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf"
                }
            });
        });
    </script>

    <style>
        body.DTTT_Print {
            background: #fff;

        }

        .DTTT_Print #page-wrapper {
            margin: 0;
            background: #fff;
        }

        button.DTTT_button, div.DTTT_button, a.DTTT_button {
            border: 1px solid #e7eaec;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }

        button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
            border: 1px solid #d2d2d2;
            background: #fff;
            color: #676a6c;
            box-shadow: none;
            padding: 6px 8px;
        }

        .dataTables_filter label {
            margin-right: 5px;

        }
    </style>
{% endblock %}



